vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Oct 2001 04:00:00 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|4RUNNER\\Administrator
vti_modifiedby:SR|4RUNNER\\Administrator
vti_timecreated:TR|30 Oct 2001 04:00:00 -0000
vti_lineageid:SR|{CBA10326-69D2-4F6B-983F-60B40901319C}
vti_backlinkinfo:VX|bottom_page.htm index.htm rules.htm schedule.htm standings.htm events.htm gyms.htm photos.htm registration.htm top_page.htm winners.htm
vti_cacheddtm:TX|30 Oct 2001 04:00:00 -0000
vti_filesize:IR|621
