vti_encoding:SR|utf8-nl
vti_author:SR|4RUNNER\\Administrator
vti_modifiedby:SR|4RUNNER\\Administrator
vti_timelastmodified:TR|05 Sep 2002 20:17:34 -0000
vti_timecreated:TR|05 Sep 2002 20:17:34 -0000
vti_cacheddtm:TX|05 Sep 2002 20:17:34 -0000
vti_filesize:IR|1448
vti_cachedlinkinfo:VX|S|watbanr.gif S|watrule.gif S|watbul1.gif S|watbul2.gif S|watbul3.gif S|wathsel.gif S|wathbtn.gif S|watvsel.gif S|watvbtn.gif S|wathom.gif S|watup.gif S|watbck.gif S|watnxt.gif S|watbul1.gif S|watbul2.gif S|watbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/watermar/watbanr.gif FSUS|_themes/watermar/watrule.gif FSUS|_themes/watermar/watbul1.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/watbul3.gif FSUS|_themes/watermar/wathsel.gif FSUS|_themes/watermar/wathbtn.gif FSUS|_themes/watermar/watvsel.gif FSUS|_themes/watermar/watvbtn.gif FSUS|_themes/watermar/wathom.gif FSUS|_themes/watermar/watup.gif FSUS|_themes/watermar/watbck.gif FSUS|_themes/watermar/watnxt.gif FSUS|_themes/watermar/watbul1.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/watbul3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{2F65C580-8D9F-4570-A176-981427586D11}
vti_backlinkinfo:VX|
